<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarinforms.maps">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="com.xamarinforms.maps.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.xamarinforms.maps.permission.MAPS_RECEIVE" />

    <application android:label="Xamarin Forms Maps" android:icon="@drawable/icon">
		<!-- Put your Google Maps V2 API Key here. -->		
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDvBXkbYzIMbExbO9CIr2fBwlBc4INO1do" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>